
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Regular";
  src: url("../public/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../public/Lato-Bold.ttf");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.textInput {
  margin: "30px";
  width: "100%";
}

